@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resource not found</title>
</head>
<body>
    <div>
        Sorry, the resource you are looking for not found.
    </div>
</body>
</html>