<section class="section section-alt">
	<div class="row-fluid">
	  <div class="super-hero-unit">
	    <figure>
	      <img alt="some image" src="/Assets/themes/smartbox/images/assets/landscapes/landscape-5-1250x300.jpg">
	      <figcaption class="flex-caption">
	        <h1 class="super animated fadeinup delayed">
	          About Me
	        </h1>
	      </figcaption>
	    </figure>
	  </div>
	</div>
</section>

<section class="section section-padded">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="section-header">
	      <h1>
	        Your Name
	        <small class="light">designation</small>
	      </h1>
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      <img src="/Assets/themes/smartbox/images/assets/people/woman-2-800x800.jpg" class="push-bottom" alt="some image">
	    </div>
	    <div class="span6">
	      <p class="lead">
	        Explain about you.. Pellentesque vulputate blandit condimentum. Etiam porttitor laoreet velit, quis mollis libero eleifend id. Sed in hendrerit libero. Donec vulputate placerat libero, sed convallis justo venenatis eu. Mauris ante ligula, consequat id condimentum at, ullamcorper sit amet justo. Sed odio sem, sodales vel tempor sed, sollicitudin et ipsum.
	      </p>
	      <ul class="icons lead icons-small">
	        <li>
	          <i class="icon-ok gray"></i>
	          Donec velit augue
	        </li>
	        <li>
	          <i class="icon-ok gray"></i>
	          Pellentesque vulputate blandit
	        </li>
	        <li>
	          <i class="icon-ok gray"></i>
	          Ullamcorper sit amet
	        </li>
	        <li>
	          <i class="icon-ok gray"></i>
	          Etiam porttitor laoreet
	        </li>
	        <li>
	          <i class="icon-ok gray"></i>
	          Sollicitudin et ipsum
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
</section>

