@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server error</title>
</head>
<body>
    <div>
        Sorry, some server error has occured.
    </div>
</body>
</html>